<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cafeyn.presentation">

    <application android:name=".CafeynApplication"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
    </application>
</manifest>
